---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Icons from "../components/Icons.astro";
import Posts from "../components/Posts.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Spacer from "../components/Spacer.astro";

import projects2018 from "../data/projects-2018.json";
import projects2019 from "../data/projects-2019.json";
import projects2020 from "../data/projects-2020.json";
import projects2021 from "../data/projects-2021.json";
import projects2022 from "../data/projects-2022.json";
---

<Base>
  <Header />
  <Spacer space={20} />
  <Icons />
  <Spacer space={10} />
  <h2><span>🗂️</span> Recent Posts</h2>
  <Spacer space={15} />
  <Posts />
  <Spacer space={30} />
  <h2><span>🚧</span> Projects</h2>
  <Spacer space={10} />
  <Projects year="2022" projects={projects2022} />
  <Spacer space={10} />
  <Projects year="2021" projects={projects2021} />
  <Spacer space={10} />
  <Projects year="2020" projects={projects2020} />
  <Spacer space={10} />
  <Projects year="2019" projects={projects2019} collapse />
  <Spacer space={10} />
  <Projects year="2018" projects={projects2018} collapse />
  <Footer />
</Base>

<style>
  ::selection {
    background: #ffc;
  }

  h2 {
    color: var(--heading-color);
  }

  span {
    margin-right: 5px;
  }
</style>
