---
const { title, description } = Astro.props;
import "@fontsource/rubik";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    {title ? (
      <title>`{title} | Michael Esteban`</title>
      <meta content={title} property="og:title">
      <meta content={title} name="twitter:title">
      <meta content={description} name="description"> 
      <meta content={description} property="og:description"/>
      <meta content={description} name="twitter:description"/>
    ) : (
      <title>Michael Esteban</title>
      <meta content="Michael Esteban" property="og:title">
      <meta content="Michael Esteban" name="twitter:title">
      <meta content="Michael Esteban's small place on the internet" name="description" />
      <meta content="Michael Esteban's small place on the internet" property="og:description" />
      <meta content="Michael Esteban's small place on the internet" name="twitter:description" />
    )}
    <meta content="summary" name="twitter:card" />
    <meta content="https://mikeesto.com/me-grey.jpg" name="twitter:image" />
    <meta content="https://mikeesto.com/me-grey.jpg" property="og:image" />
  </head>
  <body>
    <slot />
  </body>
  <Footer />
</html>
