---
import { parse, format } from "date-fns";
import "@fontsource/fira-code";
import type { CollectionEntry } from "astro:content";
import Base from "../layouts/Base.astro";
import { screenshot } from "../utils/screenshot.js";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const parsedDate = parse(post.data.date, "dd-MM-yyyy", new Date());
const formattedDate = format(parsedDate, "PPP");

const slug = await screenshot(post.data.title);
---

<Base title={post.data.title} description={post.data.description} {slug}>
  <article class="post mt-4">
    <h1 class="uppercase text-xl inline-block font-bold">
      {post.data.title}
    </h1>
    <h2 class="font-light mt-1 mb-4">{formattedDate}</h2>
    <slot />
  </article>
</Base>

<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";
  const heading = document.querySelector("h1");
  const annotation = annotate(heading, {
    type: "highlight",
    animate: false,
    color: "#ffd54f",
  });
  annotation.show();
</script>

<style is:global>
  /* Used to style slot */

  .post a {
    @apply text-blue-500 hover:text-blue-600;
  }

  .post h3 {
    @apply font-bold uppercase my-4 text-lg;
  }

  .post p {
    @apply my-5 leading-7;
  }

  .post .astro-code {
    @apply my-3 p-2;
  }

  .post code {
    font-family: "Fira Code", monospace;
  }

  .post ul {
    @apply list-disc list-inside my-2;
  }

  .post ol {
    @apply list-decimal list-inside my-2;
  }

  .post ol li {
    @apply my-2;
  }

  .post ol p {
    @apply inline;
  }

  .post p {
    @apply has-[img]:flex justify-center;
  }

  .post img {
    @apply my-2;
  }
</style>
